*
{
    margin: 0;
    padding: 0;
}
/*-----------Navigation-----------*/
#nav-bar
{
    background-color: #339dce83;
    position: sticky;
    color: #fff!important;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 70px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
   
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: #007bff!important;
}

.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}
/*-------Slider-------*/
#slider
{
    width: 100%;

}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
}
/*----------About---------*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;

}
.about-content
{
    padding-top: 20px;

}
.skills-bar
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress
{
  border-radius: 16px !important;
  margin-bottom: 20px;
}
.skills-bar p
{
  margin-bottom: 6px;
  font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
}
.progress
{
    border-radius: 16px;
    margin-bottom: 20px;
}

/*-------------------------Services--------------------*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image/dk2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
   
#services h1
{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;

}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}
.same
{
    display: flex;
    
}

.container1
{
    
    display: flex;
    text-align: center;
    margin-top: 40px;
}
.elements
{
    display: inline-block;
   
    
    margin: 50px;
    text-align: center;

}.elements h3{
    font-size: 25px;
    
}
.icon
{
    font-size: 38px;
    margin: 18px auto;
    padding: 8px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}
.elements p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.container1 .elements:hover
{
    background-color: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
/* Team Members */
#team
{
   padding-top: 50px;
   padding-bottom: 50px;
   color: #555;
}
h1
{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.row
{
    display: flex;
    text-align: center;
    
}
.photo
{
   
   margin-top: 25px  ;
   margin-left: 108px;
   width: 217px;
   

}.photo p{
    margin: 0px 2px;
    text-align: center;
}
.photo .image-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.image-responsive{
        filter: grayscale(1);
        height: 175px;
}
.image-responsive:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.photo h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    
}
.photo h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    
}
#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff;
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
}
.image-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 4;
    bottom: -26px;
    left: 47%;
    transform: translateX(-50%);
    opacity: 0;
}
.image-box ul li{
    padding: 5px;
    display: inline-block;
}
.image-box:hover ul{
    opacity:1 ;
}
.image-box ul,.image-box ul li{
    transition: 0.5s;
}
/* -------------promo---------------- */
#promo{

    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/bk1.jpg);
     background-repeat: no-repeat;
    
     background-size: cover;
     background-position: center;
     color: #fff;
     background-attachment: fixed;
     text-align: center;
     padding: 100px;
}
/* ------price plan---------- */
#price{

    padding: 40px 0;
    background-color: #efefef;
    
}
.row1{
    display: flex;
    justify-content: center;
   
    
}
.elements1{
    display: flex;
    text-align: center;
   
    
    
}
.singleprice{
    margin:  50px ;
    display: inline-block;
    text-align: center;
    width: 250px;
    background-color: #fff;
    transition: 0.5s;
   
    
    
    
}
.singleprice:hover{
    box-shadow: 0 2px 20px #333;
}
.pricehead{
    background-color: #2196f3;
    display: block;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.pricehead h2{

    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.pricehead p{
 
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.pricecontent{
    display: block;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.pricecontent ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 10px;
}
.fa-times-circle{
    color:red;
    margin-right: 10px;
    font-size: 10px;
}
.price-button{
    display: block;
    float: left;
    padding: 15px 15px 30px ;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}
.price-button a{
    text-decoration: none!important;
    color: #fff!important;
}
.containers p{
    text-align: center;

}
/* -------------------testimonials---------------------- */
#testimonials{
    padding-top:50px ;
    padding-bottom: 50px;
}
#testimonials .row{
    margin-top:30px ;
}
.coloum{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
    width: 301px;
    
}
.user{
    height: 100px;
    border-radius: 50%;
}
.profile img{
    top: -143px;
    position: relative;
    left: calc(23% - 67px);
    width: 137px;
    height: 144px;
    border: 10px solid #fff;

}
.profile h3{
    top: -74px;
    position: relative;
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
.profile span{
    font-size: 12px;
    color: #333;
}
blockquote {
   
    top: -91px;
    position: relative;
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content:'\93';
    font-size: 50px;
    position: relative;
    color: #007bff;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
    
}
blockquote::after{
    content:'\94';
    font-size: 50px;
    color: #007bff;
    position: relative;
    
    line-height: 10px;
    bottom: -15px;
    right: 5px;
    
}
.profile:hover{

    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
/* --------get in touch---------- */
#contact{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/gt.jpg);
    background-repeat: no-repeat;
    
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     text-align: center;
    padding: 40px;
    padding-bottom: 50px;
    
}
.contact-form
{
    padding: 15px;
    
}
.form-control{

    border-radius: 0 !important;
    border: none !important;
}
.formgroup{
    padding: 8px;
}
::placeholder{

    color: #999 !important;

}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.colum{
    text-align: center;
}
.colum i{

    margin: 10px;
    color: #007bff;
    font-weight: bold;

}
.row1{
    text-align: center;
    margin: 0px auto;
}
/* footer */
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o{
    margin: 2px;
    color: red;
}